#content{:style => "background:#696A6C;"}
  .page{:style => "text-align: center !important;"}
    #primary{:style => "width:100%;"}
      .text
        = ("<iframe width='600' height='350' src='http://www.youtube.com/embed/9i01Jnifla8' frameborder='0' allowfullscreen></iframe>").html_safe
