= form_for(@social_post, :url => photo_post_path) do |f|
  %ul.no_border
    =#@social_post.errors
    %li.col-span-2
      %label.input-text
        %span.label.hd Photo Post
    %ul.posts
      %li.col-span-2
        %label.input-text
          %span.label Photo Path
          = f.file_field :photo_path, :class => "txarea1"
      %li.col-span-2
        %label.input-text
          %span.label Photo Message
          = f.text_area :photo_message, :class => "txarea1"
  %p.buttons{:style => "margin-top:0px;"}
    %button.primary-call{:type => "submit"} Save
    = link_to 'Back', social_apps_path





